{% extends "intern/base.html" %}

{% block content %}
<div class="container my-3">
    <h1>SIMPLE ERP</h1>
    <hr>
  </div>

  <!-- form Starts hear -->
  <div class="container my-4" >
    
    <form  method= "post">
      {% csrf_token %}
        <fieldset>
          <legend>Person Form</legend>
          {% if success == 1 %}
          <div class="alert alert-success" role="alert">
            Data saved successfully. Navigate to persons page to see data.
          </div>
          {% endif %}
          {% if error == 1 %}
          <div class="alert alert-danger" role="alert">
            There is error saving your data, plese fill all fields and try again!!
          </div>
          {% endif %}
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">NAME</label>
            <input type="text" id="name" class="form-control" name='Your_name' placeholder="Enter Your name....">
          </div>
          
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">BirthDate</label>
            <input type="date" id="birthDate" name='birthDate' class="form-control" placeholder="Enter Your Birthdate">
          </div>
          <div class="mb-3" id="selector">
              <label >Country</label>
              <select name='country' onChange="getState(this.value)" class="form-select" aria-label="Default select example">
                <option value='' selected>Select Your country</option>
                {% for country in countries %}
                    <option value="{{country.name}}">{{country.name}}</option>
                {% endfor %}
              </select>
          </div>
          <div class="mb-3" id="statediv">
            <label>State</label>
            <select name='state' class="form-select" aria-label="Default select example">
              <option value='' selected>Select your state</option>
            </select>
             </div>
             <div class="mb-3" id="citydiv">
              <label >City</label>
              <select class="form-select" name='city' aria-label="Default select example">
                <option value="" selected>Select your city</option>
              </select>
               </div>
             <input class="btn btn-primary" type="submit" value="Submit">
        </fieldset>
      </form>
      <!-- <form action = "" method = "get">
        <label for="your_name">Your name: </label>
        <input id="your_name" type="text" name="your_name">
        <input type="submit" value="OK">
    </form> -->
  </div>

  {% endblock %}